<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userClient" class="com.ace.trade.common.client.RestClientProxyFactoryBeanSpring">
        <property name="serviceInterface" value="com.ace.trade.common.api.IUserApi"/>
        <property name="serverEnum" value="USER"/>
    </bean>
</beans>